body {
  margin: 0;
  background-color: #ffbb0097;
  font-size: 18px;
}

.hidden {
  display: none !important;
}

.container {
  margin-top: -21px;
  text-align: center;
}

#form-div {
  border-radius: 0 0 50% 50%;
  background-color: #0073ffc3;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.45);
  color: #fdd35e;
  padding: 50px 0;
}

#form-div select,
#submit-btn {
  font-size: 18px;
  background-color: #ffd45d;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);

  transition: all 0.5s ease-out;
}

#form-div select:hover,
#submit-btn:hover {
  color: #ffd45d;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

#form-div #insurance-plan-div {
  display: inline-block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  background-color: #00000082;
}

#form-div #insurance-plan-div p {
  margin: 0 0 10px;
}

#result-div {
  display: inline-block;
  margin: 50px 0 80px;
  padding: 20px 200px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 100px 10px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  border-radius: 100px 100px 0 0;
  color: white;
  background-color: #0073ffc3;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.45);
  min-height: 20px;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  line-height: 20px;
}
