/* adding Persian font */
@font-face {
  font-family: "IranYekanWeb";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/iranyekanweblight.woff") format("woff");
}
@font-face {
  font-family: "IranYekanWeb";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iranyekanwebregular.woff") format("woff");
}
@font-face {
  font-family: "IranYekanWeb";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/iranyekanwebbold.woff") format("woff");
}

.seperator {
  height: 60px;
}

.hidden {
  display: none !important;
}

body,
html {
  background-color: #ebecf0;
}

body,
p,
input,
select,
textarea,
button {
  font-family: "IranYekanWeb", sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

div,
p {
  color: #9c9faa;
  text-shadow: 1px 1px 1px #fff;
}

h1 {
  text-align: center;
}

form {
  /* padding: 16px; */
  width: 320px;
  margin: 0 auto;
}

.segment {
  padding: 22px 0;
  text-align: center;
}

button,
input,
.dropdown {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}

label {
  /* display: block; */
  /* width: 100%; */
  margin-left: 20px;
}

input {
  /* box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF; */
  /* width: 100%; */
  /* appearance: none; */
  /* -webkit-appearance: none; */
  margin-left: 8px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
/* input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
} */

.dropdown {
  min-width: 45%;
}

button,
.dropdown {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
button:hover,
.dropdown:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
/* button .icon {
  margin-left: 8px;
} */
button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
button.unit .icon {
  margin-left: 0;
}
button.red {
  display: block;
  width: 100%;
  color: #ae1100;
}

#result-div {
  margin: 50px auto 0;
  width: 320px;
  border-radius: 50px;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
