/* General CSS */

/* adding Persian font */
@font-face {
  font-family: "IranYekanWeb";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/iranyekanweblight.woff") format("woff");
}
@font-face {
  font-family: "IranYekanWeb";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iranyekanwebregular.woff") format("woff");
}
@font-face {
  font-family: "IranYekanWeb";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/iranyekanwebbold.woff") format("woff");
}

/* some colors that I stole from somewhere */
:root {
  --blue: #007bff;
  --light-pink: #ffb9f9;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #eeb407;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: rgb(202, 202, 202);
  --gray-dark: #727475;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #1c1e1f;
}

/* making things the way they are supposed to be */
* {
  color: inherit;
  list-style: none;
  box-sizing: border-box;
}

ul > li {
  display: inline-block;
}

body {
  font: normal 400 18px "IranYekanWeb", sans-serif;
  line-height: 20px;
  padding-top: 30px;
  color: var(--light);
  background: linear-gradient(
    to right,
    rgba(126, 64, 246, 1),
    rgba(80, 139, 252, 1)
  );
}

p {
  word-wrap: break-word;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background: rgba(24, 24, 16, 0.2);
  box-shadow: 0px 0px 20px 0px #eeb407b6;
}

/* to seperate sections easier */
.seperator {
  height: 24px;
}

/* Section 1: title */
#title {
  text-align: center;
}

#title > h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
}

/* Section 2: input-text */
#input-form textarea::placeholder {
  color: var(--gray);  
}

#input-form textarea {
  font-family: inherit;
  background-color: transparent;
  outline: none;
  border: none;
  border-top: solid 3px var(--yellow);
  border-bottom: solid 3px var(--yellow);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  min-width: 30%;
  max-width: 100%;
}

#input-form #submit-btn {
  color: var(--light);
  font-size: 21px;
  background: linear-gradient(to right, #ffb369 0%,#ff4272 100%);
  box-shadow: 0px 0px 10px 0px var(--light);
  width: 100%;
  padding: 15px 0;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0px var(--light-pink);
  transition: all 0.5s ease-in-out;
}

#input-form #submit-btn:hover {
  color: var(--yellow);
  border: solid 2px var(--yellow);
  box-shadow: 0px 0px 10px 0px var(--yellow);
  font-size: calc(100% + 6px);
}

/* Section 3: storage */
#storage > h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

#storage > .notes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-top: solid 3px transparent;
  border-bottom: solid 3px var(--yellow);
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

#storage > .notes .remove-btn {
  cursor: pointer;
  font-size: 23px;
  color: var(--yellow);
  background-color: transparent;
  border: dashed 2px var(--yellow);
  padding: 4px 10px;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

#storage > .notes:hover .remove-btn {
  visibility: visible;
  opacity: 1;
}

#storage > .notes .remove-btn:hover {
  color: var(--danger);
  border: dashed 2px var(--danger);
}

.focus {
  border-top: solid 3px var(--orange) !important;
  border-bottom: solid 3px var(--orange) !important;
}
